body{
  margin: 0px; 
  padding:0px;
  opacity: 100%;
  background-image:url("./milky-way-starry-sky-night-sky-star-956999.jpeg");
  box-sizing: border-box;

  letter-spacing: 2px;
  font-family: 'Lobster', cursive;
  }
div {
  width:400px;
  height:250px;
  background:yellowgreen;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin: 100px auto;
  border :orange solid 5px;
}  
input{
  width: 200px;
  margin: 5px;
}
h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
  text-shadow: 2px 2px 4px #000000;
}