body{
  margin: 0px; 
  padding:0px;
  opacity: 100%;
  background-image:url("./milky-way-starry-sky-night-sky-star-956999.jpeg");
  box-sizing: border-box;

  letter-spacing: 2px;
  font-family: 'Lobster', cursive;
  }
div {
  width:100%;
  height: 100vh;
  background: purple;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}  
button{
  margin-top: 10px;
}